<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="NombrePortBinding" />
                <binding name="WebServiceSoap1" />
                <binding name="webServiceJAVAPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6733/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://localhost:8080/mavenproject2/Nombre"
                binding="basicHttpBinding" bindingConfiguration="NombrePortBinding"
                contract="ServiceReference2.Nombre" name="NombrePort" />
            <endpoint address="http://localhost:1739/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap1" contract="ServiceReference3.WebServiceSoap"
                name="WebServiceSoap1" />
            <endpoint address="http://localhost:8080/webServiceConBD/webServiceJAVA"
                binding="basicHttpBinding" bindingConfiguration="webServiceJAVAPortBinding"
                contract="ServiceReference4.webServiceJAVA" name="webServiceJAVAPort" />
        </client>
    </system.serviceModel>
</configuration>